[submodule "ext/Parsers"]
	path = ext/Parsers
	url = git@github.com:Black-Library/Parsers.git
[submodule "ext/blacklibrarydb"]
	path = ext/blacklibrarydb
	url = git@github.com:Black-Library/blacklibrarydb.git
[submodule "ext/scraper-sanatizer"]
	path = ext/scraper-sanatizer
	url = git@github.com:benjaminchang23/scraper-sanatizer.git
