[submodule "ext/black-library-parsers"]
	path = ext/black-library-parsers
	url = git@github.com:Black-Library/black-library-parsers.git
[submodule "ext/scraper-sanatizer"]
	path = ext/scraper-sanatizer
	url = git@github.com:benjaminchang23/scraper-sanatizer.git
[submodule "ext/black-library-common"]
	path = ext/black-library-common
	url = git@github.com:Black-Library/black-library-common.git
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui
[submodule "ext/cpp-httplib"]
	path = ext/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
